6304022610278 Phatchara Suepuaong

In [ ]:
import math


n0 = int(input("Enter n0: "))
n1 = int(input("Enter n1: "))
n2 = int(input("Enter n2: "))
n3 = int(input("Enter n3: "))
n4 = int(input("Enter n4: "))
n5 = int(input("Enter n5: "))
n6 = int(input("Enter n6: "))
n7 = int(input("Enter n7: "))
n8 = int(input("Enter n8: "))
n9 = int(input("Enter n9: "))
n10 = int(input("Enter n10: "))
n11 = int(input("Enter n11: "))




# n0 = int(1)
# n1 = int(1)
# n2 = int(0)
# n3 = int(0)
# n4 = int(7)
# n5 = int(0)
# n6 = int(2)
# n7 = int(3)
# n8 = int(4)
# n9 = int(5)
# n10 = int(1)
# n11 = int(2)

x12 = (11-(13*n0+12*n1+11*n2+10*n3+9*n4+8*n5+7*n6+6*n7+5*n8+4*n9+3*n10+2*n11)%11)%10


print( n0,' ',n1,n2,n3,n4,' ', n5,n6,n7,n8,n9,' ',n10,n11,' ',x12) ;

Enter n0: 1
Enter n1: 2
Enter n2: 3
Enter n3: 4
Enter n4: 5
Enter n5: 6
Enter n6: 7
Enter n7: 8
Enter n8: 9
Enter n9: 0
Enter n10: 1
Enter n11: 2
1   2 3 4 5   6 7 8 9 0   1 2   1

In [1]:
from numpy import median

num_list = []
print("input num1")
num_list.append(int(input()))
print("input num2")
num_list.append(int(input()))
print("input num3")
num_list.append(int(input()))
print("input num4")
num_list.append(int(input()))
print("input num5")
num_list.append(int(input()))
print(median(num_list))

input num1
1
input num2
2
input num3
3
input num4
4
input num5
5
3.0